html, body {
	height: 100%;
	margin: 0;
    overflow-y: scroll;
}
.content {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	background-color: #32CD32;
}
.content:hover {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	background-color: #32CD32;
}
.content input {
	margin: 4px;
	height: 17px;
}
.content select {
	margin: 4px;
	height: 25px;
}
.content button {

	background-color:#FFD700;
	color: #FFFFFF;
	height: 35px;
	width: 70px;
	font-size: 20px;
}